/*------------------------------------------------------------- COMMENTS */

#comments {
	margin-top: 30px;
	position: relative;

	h3 {
		margin-bottom: 0;
		@include breakpoint(baby-bear){
			padding-left: 0;
		}
	}
	p {
		.comment-notes {
			font-family: $brand-serif;
		}
	}
	.author-gravatar {
		display: block;
		position: absolute;
		width: 50px;
		height: 50px;
		margin-left: -70px;
		background-color: $brand-color;
		border-radius: 50px;
		top: 24px;
	}
	& img.avatar {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 50px;
		margin-left: -70px;
		border-radius: 100px;
		float: left;
		
		@include breakpoint(baby-bear) {
			display: none;
		}
	}
		
	& article {
		position: relative;
		font-family: $brand-serif;
		padding-bottom: 0;
		margin-bottom: 20px !important;
		h4, p, time {
			font-size: 18px;
			line-height: 24px;
			display: block;
			color: #000;
			@include breakpoint(baby-bear) {
				padding: 0;
			}
		}
		h4 {
			display: inline-block;
			padding-left: 0;
			font-style: italic;
			background-color: $brand-color;
		}
		time {
			color: #aeaeae;
			position: absolute;
			font-size: 12px;
			top: 0;
			right: 0;
		}
		p {
			&:first-of-type {margin-top: 10px;}
			@include breakpoint(baby-bear) {
				margin: 10px 0;
			}
		}
	}	

	& ol {
		margin: 0;
		padding: 0;
	}
	
	& ol li {
		border-bottom: 1px dotted #DADADA;
		list-style-type: none;
		
		@include breakpoint(baby-bear) {
			padding: 0 0 10px 0;
			margin-bottom: 20px;
		}
		
		> article {
			@include breakpoint(baby-bear) {
				margin-bottom: 10px;
			}
		}
	}
}

#comments .section-title,
#respond .section-title {
	display: block;
	text-align: left;
	h3 a {
		text-transform: none;
letter-spacing: 0;
font-size: 18px;
line-height: 24px;
	}
}

.comment-reply-link {
	margin-top: -10px;
	position: relative;
	font-weight: normal;
	color: $brand-color;
	display: table;
	background-color: transparent;
	border-top: 1px dotted;
	&:hover {border-top: 1px dotted transparent;}
}
.children {
	padding-left: 70px;
	li {
		position: relative;
	}
}
.authorcomment {
	border-bottom: 1px solid $brand-color !important;
	img.avatar {
		-webkit-animation-name: pulse; 
  		-webkit-animation-duration: 3s; 
  		-webkit-animation-iteration-count: infinite; 	
  	}	
  	h4:after {
  		content: 'author';
		position: absolute;
		margin-left: 10px;
		text-transform: uppercase;
		font-style: normal;
		font-size: 11px;
		font-family: $brand-sans;
		color: $brand-color;
  	}
  	time {color: $brand-color !important;}
}  	
@-webkit-keyframes pulse {
  from {
    opacity: 0.25;
  }
  50% {
    opacity: 1.0;
  }
  to { 
    opacity: 0.25;
  }
}