/*------------------------------------------------------------- COMMENTS */

#comments {
	margin-top: 30px;
	position: relative;

	h3 {
		padding-left: 90px;
		margin-bottom: 0;
		@include breakpoint(baby-bear){
			padding-left: 0;
		}
	}
	p {
		.comment-notes {
			font-family: $brand-serif;
		}
	}
	.author-gravatar {
		display: block;
		position: absolute;
		width: 50px;
		height: 50px;
		background-color: $brand-color;
		border-radius: 50px;
		left: -70px;
		top: 24px;
	}
	& img.avatar {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 0 20px;
		border-radius: 100px;
		float: left;
		
		@include breakpoint(baby-bear) {
			display: none;
		}
	}
		
	& article {
		position: relative;
		font-family: $brand-serif;
		padding-bottom: 0;
		margin-bottom: 20px !important;
		h4, p, time {
			font-size: 18px;
			line-height: 24px;
			display: block;
			padding-left: 70px;
			color: #000;
			@include breakpoint(baby-bear) {
				padding: 0;
			}
		}
		h4 {
			display: inline-block;
			padding-left: 0;
			font-style: italic;
			background-color: $brand-color;
		}
		time {
			color: #aeaeae;
			position: absolute;
			font-size: 12px;
			top: 0;
			right: 0;
		}
		p {
			@include breakpoint(baby-bear) {
				margin: 10px 0;
			}
		}
	}	

	& ol {
		margin: 0;
		padding: 0;
	}
	
	& ol li {
		border-bottom: 1px dotted #DADADA;
		list-style-type: none;
		
		@include breakpoint(baby-bear) {
			padding: 0 0 10px 0;
			margin-bottom: 20px;
		}
		
		> article {
			@include breakpoint(baby-bear) {
				margin-bottom: 10px;
			}
		}
	}
}

#comments .section-title,
#respond .section-title {
	display: block;
	text-align: left;
}
