select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius: 0;
	height: auto;
	font-family: $brand-serif;
	color: #000;
}

form#commentform {
	padding-left: 90px;
	@include breakpoint(baby-bear) {padding: 0;}
	& p {
		padding-left: 0;
		position: relative;
		margin: 10px 0;
	}
	label {
		font-family: $brand-sans;
		font-size: 16px;
		line-height: 16px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: $brand-color;
		margin: 10px 0;
	}
	input, textarea {
		width: 100%;
		font-size: 18px;
		line-height: normal;
		border: 1px solid #dadada;
		padding: 10px;
		outline: 0;
		resize: none;
		position: relative;
		min-height: 30px;
		border: 1px solid $lighterGrey;
		margin: 0;
		-webkit-transition: $transition;
	
		&:hover, &:focus {
			border-color: $darkGrey;
			-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
		}	
		
		@include breakpoint(baby-bear) {
			padding: 10px;
		}
	}
	span.required {
		z-index: 1;
		display: inline;
		position: absolute;
		top: 17px;
		left: 110px;
		font-size: 28px;
		line-height: 28px;
		
		@include breakpoint(baby-bear) {
			top: 6px;
			left: 55px;
		}
	}
	p.comment-notes {
		font-family: $brand-serif;
		font-size: 18px;
		line-height: 24px;
		margin: 0 0 20px;
		text-align: left;
		
		@include breakpoint(baby-bear) {
			display: none;
		}
	}
	p.comment-notes span.required {
		position: relative;
		top: 11px;
		left: 0;
	}
}