//------------------------------------------------------- GLOBAL NAV

nav {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 240px;
	height: 100%;
	background-color: $brand-color;
	overflow: hidden;
	-webkit-transition: $transition-switch;
	-moz-transition: $transition-switch;
	transition: $transition-switch;
	
	@include breakpoint(baby-bear) { 
		width: 100%;
		height: 40px;
	}
	
	&.narrow {
		width: 65px;
		box-shadow: none;

		@include breakpoint(baby-bear) {
			width: 100%;
			height: 40px;
		}
		
		& .about-me {opacity: 0;}
	}
	
	h1 {
		padding: 0 15px;
	}
	
	a {
		float: left;
		position: relative;
		width: 240px;
		overflow: hidden;
		color: #000;
		opacity: 1;
		font-weight: bold;
		font-size: 18px;
		padding: 15px;
		
		-webkit-transition: $transition-fast;
		
		@include breakpoint(baby-bear) {
			padding: 10px;
			width: 40px;
			font-family: $brand-sans;
			font-size: 16px;
			line-height: 24px;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	a i[class^="icon-"], a i[class*=" icon-"] {
		display: inline-block;
		font-size: 30px;
		width: 35px;
		line-height: 14px;
		position: relative;
		margin-right: 15px;
		text-align: center;
		color: #000;
		
		-webkit-transition: $transition-fast;
		
		@include breakpoint(baby-bear) {
			font-size: 18px;
			width: 20px;
			margin: 0;
		}
	}
	a:hover, a.active {
		background-color: $brand-colorDark;
		color: #fff;
		i {color: #fff;}
	}
	img {
		width: 65px;
		height: 65px;
		margin: 0;
		padding: 0;
		border: 0;
		margin-bottom: -5px;
	}
	.icon-plus {
		-webkit-transition: $transition-fast;
		-moz-transition: $transition-fast;
		transition: $transition-fast;
	}
	.icon-plus.switch {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
	& .about-me {
		position: absolute;
		bottom: 20px;
		color: $brand-colorDark;
		font-weight: bold;
		padding: 0 20px;
		font-size: 11px;
		line-height: 12px;
		width: 240px;
		opacity: 1;
		-webkit-transition: $transition;
		
		& a {
			padding: 0;
			float: none;
			font-size: 11px;
			border-bottom: 1px dotted;
			font-weight: normal;
			letter-spacing: 0;
			text-transform: none;
		}
		
		@include breakpoint(baby-bear) {
			bottom: 5px;
		}
		
		> p {
			padding: 10px 0;
			margin: 0;	
			line-height: 14px;
			
			&:last-of-type {padding-bottom: 0;}	
			
			strong {
				font-weight: bold;
				text-transform: uppercase;
				color: #000;
			}
		}
	}
}

body.home a.home,
body.identity a.identity,
body.labs a.labs,
body.design a.design,
body.portfolio a.portfolio,
body.contact a.contact {
	color: #fff;
	background-color: #000;
	i {color: #fff;}
}

//------------------------------------------------------- PAGE NAV

.page-nav.span3 {
	position: relative;
	padding-bottom: 10px;
	margin-left: 0;
	border-bottom: 1px dotted $lighterGrey;
	
	@include breakpoint(baby-bear) { 
		width: 100%;
		margin: 0 0 20px 0;
		padding: 0;
		border-bottom: 1px solid $brand-color;
		
		& p {
			font-size: 12px;
			line-height: 14px;
			margin: 0 0 10px 0;
		}
	}

	-webkit-transition: $transition-switch;
	
	& h2, & h2 a {
		font-weight: normal;
		color: $brand-colorDark;
		font-weight: bold;
		margin: 0;
		
		@include breakpoint(baby-bear) {
			font-family: $brand-sans;
			font-size: 16px;
			line-height: 24px;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	
	& .icon-tags {
		font-size: 28px;
		
		@include breakpoint(baby-bear) {
			font-size: 18px;
		}
	}
	
	> ul li {
		line-height: $line-height-nav;
	}
	> ul li a {
		display: block;
		position: relative;
		&:hover {
			color: $brand-colorDark;
		}
	} 
	
	& a.breadcrumb-back {
		color: $lightGrey;
		font-size: 16px;
		font-weight: normal;
		font-family: $brand-sans;
		position: absolute;
		top: -34px;
		left: 0;
		
		@include breakpoint(baby-bear) {
			position:relative;
			top: 0;
		}
	}
	
	> ul li {
		list-style-type: none;
		
		@include breakpoint(baby-bear) { 
			float: left;
			padding: 0 20px 10px 0;
		}	
	}
}

//------------------------------------------------------- TINY NAV

.tinynav { 
	display: none;
	outline: none;
	
	@include breakpoint(baby-bear) {
    	display: block;
    	width: 100%;
    	margin: 10px 0;
    }
}

.page-nav ul {
	@include breakpoint(baby-bear) {
	    display: none;
	}
}    