body {
	background: #fff;
	overflow-x: hidden;
	font-family: $brand-sans;
	
	&.stats a.stats {@include nav-active;}
	&.discover a.discover {@include nav-active;}
	&.wiki a.wiki {@include nav-active;}
	
	&.category a.blog, 
	&.archive a.blog,
	&.single a.blog,
	&.home a.blog {@include nav-active;}
	
	@include breakpoint(baby-bear) { 
		width: 100%;
		margin-bottom: 20px;
		padding: 0;
	}
	
	@include breakpoint(iphone-bear) { 
		width: 320px;
		max-width: 320px;
		overflow-x: hidden;
		margin-bottom: 20px;
		padding: 0;
	}
}

.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.page-wrap {
	padding: 40px 40px 40px 110px;
	position: relative;
	-webkit-transition: $transition-switch;
	
	@include breakpoint(baby-bear) { 
		padding: 10px 20px 10px 45px;
	}
	
	@include breakpoint(iphone-bear) {
		max-width: 290px;
	}
		
	&.expanded {
		padding-left: 280px;
		
		@include breakpoint(baby-bear) { 
			padding-left: 45px;
		}
	}
}

.sidebar {
	position: relative;
	left: 40px;
	
	@include breakpoint(baby-bear) {
		display: none;
	}
}

.footer {
	position: relative;
	border-top: 1px solid $lightestGrey;
	margin-top: 20px;
}

.page-main.span6 {
	margin: 0;
	
	@include breakpoint(baby-bear) { 
		width: 100%;
	}
}

.sidebar.span3 {
	@include breakpoint(baby-bear) { 
		width: 100%;
	}
}

article img {
	max-width: 100%;
	height: auto !important;
}

