/*------------------------------------------------------------- PAGE-STATS */

.profile-pic {
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: $radius;
	background-color: $lightestGrey;
	margin: 0 20px 20px 0;
}
.stat {
	text-align: center;
	padding: 20px;
	min-height: 190px;
	border: 1px solid $lighterGrey;
	border-radius: $radius;
	-webkit-transition: $transition-fast;
	
	&:hover {
		background-image: -webkit-radial-gradient(center, #fff, $lighterGrey);
		border: 1px solid $lightGrey;
		border-bottom: 1px solid darken($lightGrey, 20%);
		box-shadow: $shadow-module;
	}
	
	&:hover span.value {
		color: $blue;
		font-size: 88px;
	}
	&:hover span.detail {
		color: $darkGrey;
	}
	&:hover span.detail strong {
		color: $blue;
	}
}
span.value {
	color: $darkerGrey;
	display: block;
	font-size: 68px;
	line-height: 68px;
	font-weight: bold;
	-webkit-transition: $transition-fast;
}
span.detail {
	color: $lightGrey;
	font-size: 12px;
	line-height: 12px;
	-webkit-transition: $transition-fast;
	
	& strong {
		display: block;
		text-align: center;
		padding: 10px 0;
		color: $darkerGrey;
	}
}

.page-nav.span3 {
	position: relative;
	border-bottom: 1px dotted #DADADA;
	padding-bottom: 10px;
	margin-right: 40px;
	
	@include breakpoint(baby-bear) { 
		width: 100%;
		margin-bottom: 20px;
		padding: 0;
		
		& p {
			font-size: 12px;
			line-height: 14px;
		}
	}

	-webkit-transition: $transition-switch;
	
	& h2 {
		font-weight: normal;
		color: $brand-color;
		margin: 0;
	}
	
	& .icon-tags {
		font-size: 28px;
		
		@include breakpoint(baby-bear) {
			font-size: 18px;
		}
	}
	
	> ul li {
		line-height: $line-height-nav;
	}
	> ul li a {
		color: $lightGrey;
		display: block;
		position: relative;
		
		&:hover {
			color: $brand-color;
		}
	} 
	
	& a.breadcrumb-back {
		color: $lightGrey;
		font-size: 16px;
		font-weight: normal;
		font-family: $brand-sans;
		position: absolute;
		top: -34px;
		left: 0;
		
		@include breakpoint(baby-bear) {
			position:relative;
			top: 0;
		}
	}
	
	> ul li {
		list-style-type: none;
		
		@include breakpoint(baby-bear) { 
			float: left;
			padding: 0 20px 10px 0;
		}	
	}
}

.page-main.span6 {
	margin: 0;
	
	@include breakpoint(baby-bear) { 
		width: 100%;
	}
}

.sidebar.span3 {
	@include breakpoint(baby-bear) { 
		width: 100%;
	}
}

article [id*="attachment"] {
	max-width: 100%;
	
	& img {
		max-width: 100%;
		height: auto !important;
	}
}

/*------------------------------------------------------------- COMMENTS */

#comments {
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px dotted #dadada;
	position: relative;

	& img.avatar {
		position: relative;
		display: inline-block;
		margin-right: 20px;
		border-radius: 100px;
		float: left;
	}

	& ol {
		margin: 0;
		padding: 0;
	}
	
	& ol li {
		margin-bottom: 20px;
		padding: 20px 0;
		border-bottom: 1px dotted #DADADA;
		list-style-type: none;
	}
	
	h4, p, time {display: block; padding-left: 120px;}
}

#comments .section-title,
#respond .section-title {
	display: block;
	border-bottom: 1px dotted #DADADA;
	padding: 7px 20px 5px 0;
	margin: -20px 0 20px 0;
	text-align: left;
}

form#commentform {
	& p {
		padding-left: 0;
		position: relative;
	}
	label {
		display: inline-block;
		padding: 13px 15px;
		border-right: 1px solid #DADADA;
		z-index: 10;
		position: absolute;
		height: 46px;
		top: 1px;
		width: 100px;
		text-align: right;
	}
	input, textarea {
		width: 100%;
		border: 1px solid $lighterGrey;
		padding: 12px 15px 12px 125px;
		outline: 0;
		resize: none;
		color: $darkGrey;
		font-size: 16px;
		line-height: 22px;
		-webkit-transition: $transition;
		
		position: relative;
	
		&:hover, &:focus {
			border-color: $lightGrey;
			border-bottom: 1px solid $darkGrey;
			-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
		}	
	}
	span.required {
		z-index: 1;
		display: inline;
		position: absolute;
		top: 17px;
		left: 110px;
		font-size: 28px;
		line-height: 28px;
	}
	p.comment-notes {
		font-family: $brand-sans;
		font-size: 14px;
		line-height: 18px;
		margin: 0;
		text-align: left;
	}
	p.comment-notes span.required {
		position: relative;
		top: 11px;
		left: 0;
	}
}


