html, body {
	height: 100%;
}
body {
	background: #fff;
	overflow-x: hidden;
	font-family: $brand-sans;
	
	&.stats a.stats {@include nav-active;}
	&.discover a.discover {@include nav-active;}
	&.wiki a.wiki {@include nav-active;}
	
	&.category a.blog, 
	&.archive a.blog,
	&.single a.blog,
	&.home a.blog {@include nav-active;}
	
	@include breakpoint(baby-bear) { 
		width: 100%;
		margin-bottom: 20px;
		padding: 0;
	}
	
	@include breakpoint(iphone-bear) { 
		width: 320px;
		max-width: 320px;
		overflow-x: hidden;
		margin-bottom: 20px;
		padding: 0;
	}
}

.wrapper {
	width: 100%;
	position: relative;
	@include breakpoint(baby-bear) {
		max-width: 320px;
		overflow: hidden;
		margin: 0 auto;
	}
}

.page-wrap {
	position: relative;
	height: 100%;
	padding: 40px 40px 40px 110px;
	position: relative;
	-webkit-transition: $transition-switch;
	-moz-transition: $transition-switch;
	transition: $transition-switch;
	
	@include breakpoint(baby-bear) { 
		padding: 20px;
		max-width: 320px;
	}
	
	@include breakpoint(iphone-bear) {
		max-width: 320px;
	}
}

.sidebar {
	position: relative;
		
	& img {
		width: 50px;
		height: 50px;
		border-radius: 100px;
		margin-right: 20px; 
	}
	
	@include breakpoint(baby-bear) { 
		margin-left: 0;
	}
}

.footer {
	margin-bottom: -20px;
	font-size: 12px;
	font-family: $brand-serif;
	color: $darkestGrey;
	ul {
		@include breakpoint(baby-bear) {
			margin: 20px 0 30px;
		}
		li {
			display: inline-block;
			padding-right: 10px;
			vertical-align: middle;
			@include breakpoint(baby-bear) {
				display: block;
				text-align: center;
				padding: 0;
			}
		}
	}
	img {border-radius: 50px;}
}

.page-main.span6 {
	
	@include breakpoint(baby-bear) { 
		width: 100%;
	}
}

.sidebar.span3 {
	@include breakpoint(baby-bear) { 
		width: 100%;
	}
}

article img {
	max-width: 100%;
	height: auto !important;
}
.page-bg {
	margin: -40px -40px 35px -45px;
	background: #F0EFED;
	line-height: 0;
	position: relative;
	
	@include breakpoint(baby-bear) { 
		margin: 0 -20px;
		max-height: 350px;
	}
	
	img {
		max-width: 100%;
		
		@include breakpoint(baby-bear) {
			position: relative;
			left: -106px;
		}
	}
	
	& .welcome {
		position: absolute;
		z-index: 1;
		padding: 40px 40px 40px 60px;
		
		> h3 {
			margin: 15px 0 10px 0;
			color: $brand-colorDark;
		}
		> p {margin: 0 0 10px 0;}
		
		@include breakpoint(baby-bear) {
			text-align: right;
			top: -20px;
			right: -20px;
		}
	}
	&.labs {
		background-image: url('./img/bg/breakingBad-bg.png');
		height: 400px;
		background-repeat: no-repeat;
		background-position: -100px -60px;
		@include breakpoint(baby-bear) {
			height: 350px;
			background-position: -120px -40px;
			background-size: 270%;
		}
	}
	&.identity {
		background-image: url('./img/bg/outlawJoseyWales-bg.png');
		height: 400px;
		background-repeat: no-repeat;
	}
	&.home {
		background-image: url('./img/bg/drive-bg.png');
		height: 520px;
		background-repeat: no-repeat;
		background-position: -180px -220px;
		@include breakpoint(baby-bear) {
			height: 350px;
			background-position: -420px -160px;
			background-size: 300%;
		}
	}
	&.portfolio {
		background-image: url('./img/bg/madMen-bg.png');
		height: 400px;
		background-repeat: no-repeat;
		background-position: -170px -240px;
	}
	&.design {
		background-image: url('./img/bg/outlawJoseyWales-bg.png');
		height: 400px;
		background-repeat: no-repeat;
	}
}
section {
	margin-bottom: 40px;
	&:last-of-type {margin-bottom: 0;}
}
.post-block {
	margin-bottom: 100px;
	&:last-of-type {margin-bottom: 0;}
}
.masonry {
	.post-block {
		float: left;
		width: 50%;
		box-sizing: border-box;
		padding: 15px 20px;
		margin-bottom: 0;
		&:nth-child(3n) {
			clear: both;
		}
		@include breakpoint(baby-bear) {
			float: none;
			width: 100%;
			padding: 0;
			margin: 40px 0;
			&:last-child {margin-bottom: 0;}
		}
	}
	&.col3 {
		.post-block {
			width: 25%;
			padding-left: 0;
			&:nth-child(3n) {
				clear: none;
			}
			@include breakpoint(baby-bear) {
				width: 100%;
				float: none;
				padding: 0;
				margin: 20px 0;
			}
		}
	}
	article h2, article h2 a {
		font-size: 20px;
		line-height: 1;
		font-weight: bold;
		font-style: italic;
		margin-bottom: 10px;
	}
	.post-meta {
		border: 0;
		padding: 0;
		font-size: 14px;
	}
	article p:first-of-type {
		font-size: 18px;
		line-height: 22px;
		margin-top: 10px;
	}
	p {
		margin: 10px 0;
		font-size: 14px;
		line-height: 18px;
	}
	.read-more {
		margin: 0;
		padding: 0;
		font-size: 18px;
		line-height: 0;
	}
}

.header-block {
	position: absolute;
	bottom: 30px;
	left: 40px;
	@include breakpoint(baby-bear) {
		bottom: 10px;
		left: 20px;
		max-width: 280px;
	}
	h1 {
		position: relative;
		display: inline-block;
		padding: 0 20px;
		font-size: 62px;
		line-height: normal;
		color: #000;
		background-color: $brand-color;
		margin: 0;
		&.medium {font-size: 42px;}
		@include breakpoint(baby-bear) {
			padding: 0 10px;
			font-size: 18px;
			&.medium {font-size: 18px;}
		}
	}
	p {
		font-family: $brand-serif;
		margin: 10px 0;
		display: inline-block;
		float: left;
		padding: 10px 20px;
		line-height: normal;
		color: #000;
		background-color: $brand-color;
		@include breakpoint(baby-bear) {
			padding: 10px;
			font-size: 12px;
			line-height: 14px;
		}
	}
}
.header-caption {
	font-size: 12px;
	strong {color: $brand-colorDark;}
	li {
		line-height: 16px;
		padding: 5px 0;
	}
	.caption-title {
		font-weight: bold;
		color: $brand-colorDark;
	}
	.caption-credits {
		font-family: skolar;
		font-style: italic;
	}
}
.disclaimer {
	position: absolute;
	top: 30px;
	left: 40px;
	font-family: $brand-serif;
	margin: 10px 0;
	display: inline-block;
	padding: 10px 20px;
	line-height: normal;
	color: #000;
	background-color: $brand-color;
	@include breakpoint(baby-bear) {display: none;}
}

.media-block {
	margin-bottom: 20px;
	figure {
		.mask {
			height: 200px;
			overflow: hidden;
			position: relative;
			&:after {
				content: '\F067';
				position: absolute;
				font-family: FontAwesome;
				bottom: 0;
				right: 0;
				background-color: $brand-color;
				color: #fff;
				text-align: center;
				width: 30px;
				height: 30px;
				line-height: 33px;
			}
		}
		img {
			max-width: 100%;
		}
		figcaption {
			margin-top: 5px;
			font-size: 12px;
			line-height: 16px;
			color: $darkerGrey;
			strong {color: $darkestGrey;}
		}
	}
	&.media-small {
		figure {
			.mask {
				height: 100px;
					&:after {
					font-size: 10px;
					width: 20px;
					height: 20px;
					line-height: 22px;
				}
			}
		}
	}
}