html, body {
	height: 100%;
}
.page-wrap {
	position: relative;
	height: 100%;
}
.page-bg {
	margin: -40px -40px 35px -45px;
	background: #F0EFED;
	line-height: 0;
	position: relative;
	
	@include breakpoint(baby-bear) { 
		margin: -10px -20px 10px -45px;
	}
	
	img {
		max-width: 100%;
		
		@include breakpoint(baby-bear) {
			position: relative;
			left: -106px;
		}
	}
	
	& .welcome {
		position: absolute;
		z-index: 1;
		padding: 40px 40px 40px 60px;
		
		> h3 {
			margin: 15px 0 10px 0;
			color: $brand-colorDark;
		}
		> p {margin: 0 0 10px 0;}
		
		@include breakpoint(baby-bear) {
			text-align: right;
			top: -20px;
			right: -20px;
		}
	}
	&.labs {
		background-image: url('./img/bg/breakingBad-bg.png');
		height: 400px;
		background-repeat: no-repeat;
		background-position: -100px -60px;
	}
	&.identity {
		background-image: url('./img/bg/outlawJoseyWales-bg.png');
		height: 400px;
		background-repeat: no-repeat;
	}
	&.home {
		background-image: url('./img/bg/drive-bg.png');
		height: 520px;
		background-repeat: no-repeat;
		background-position: -180px -220px;
	}
	&.portfolio {
		background-image: url('./img/bg/madMen-bg.png');
		height: 400px;
		background-repeat: no-repeat;
		background-position: -170px -240px;
	}
	&.design {
		background-image: url('./img/bg/outlawJoseyWales-bg.png');
		height: 400px;
		background-repeat: no-repeat;
	}
}
section {
	margin-bottom: 40px;
	&:last-of-type {margin-bottom: 0;}
}
.post-block {
	margin-bottom: 100px;
	&:last-of-type {margin-bottom: 0;}
}
.masonry {
	.post-block {
		float: left;
		width: 50%;
		box-sizing: border-box;
		padding: 15px 20px;
		margin-bottom: 0;
		&:nth-child(3n) {
			clear: both;
		}
	}
	&.col3 {
		.post-block {
			width: 25%;
			padding-left: 0;
			&:nth-child(3n) {
				clear: none;
			}
		}
	}
	article h2, article h2 a {
		font-size: 20px;
		line-height: 1;
		font-weight: bold;
		font-style: italic;
		margin-bottom: 10px;
	}
	.post-meta {
		border: 0;
		padding: 0;
		font-size: 14px;
	}
	article p:first-of-type {
		font-size: 18px;
		line-height: 22px;
	}
	p {
		margin: 10px 0;
		font-size: 14px;
		line-height: 18px;
	}
	.read-more {
		margin: 0;
		padding: 0;
		font-size: 18px;
		line-height: 0;
	}
}

.header-block {
	position: absolute;
	bottom: 30px;
	left: 40px;
	h1 {
		position: relative;
		display: inline-block;
		padding: 0 20px;
		font-size: 62px;
		line-height: normal;
		color: #000;
		background-color: $brand-color;
		margin: 0;
		&.medium {font-size: 42px;}
	}
	p {
		font-family: $brand-serif;
		margin: 10px 0;
		display: inline-block;
		float: left;
		padding: 10px 20px;
		line-height: normal;
		color: #000;
		background-color: $brand-color;
	}
}
.header-caption {
	font-size: 12px;
	strong {color: $brand-colorDark;}
	li {
		line-height: 16px;
		padding: 5px 0;
	}
	.caption-title {
		font-weight: bold;
		color: $brand-colorDark;
	}
	.caption-credits {
		font-family: skolar;
		font-style: italic;
	}
}
.disclaimer {
	position: absolute;
	top: 30px;
	left: 40px;
	font-family: $brand-serif;
	margin: 10px 0;
	display: inline-block;
	padding: 10px 20px;
	line-height: normal;
	color: #000;
	background-color: $brand-color;
}

.media-block {
	margin-bottom: 20px;
	figure {
		.mask {
			height: 200px;
			overflow: hidden;
			position: relative;
			&:after {
				content: '\F067';
				position: absolute;
				font-family: FontAwesome;
				bottom: 0;
				right: 0;
				background-color: $brand-color;
				color: #fff;
				text-align: center;
				width: 30px;
				height: 30px;
				line-height: 33px;
			}
		}
		img {
			max-width: 100%;
		}
		figcaption {
			margin-top: 5px;
			font-size: 12px;
			line-height: 16px;
			color: $darkerGrey;
			strong {color: $darkestGrey;}
		}
	}
	&.media-small {
		figure {
			.mask {
				height: 100px;
					&:after {
					font-size: 10px;
					width: 20px;
					height: 20px;
					line-height: 22px;
				}
			}
		}
	}
}